<div class="estrutura">
  <header class="header">
    <span class="logo">Blog Posts</span>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Postagens Gerais</a></li>
        <li><a href="#">Mais sobre</a></li>
      </ul>
    </nav>
  </header>
  <div class="sidenav">
    <img [src]="profileImageUrl" alt="Foto de perfil" class="imagem-usuario">
    <ul class="informacao-usuario">
      <li>
        <span class="informacao-item">Nome:</span>
        <p>{{personName}}</p>
      </li>
      <li>
        <span class="informacao-item">Idade:</span>
        <p class="paragrafo">{{personAge}} anos</p>
      </li>
      <li>
        <span class="informacao-item">Telefone:</span>
        <p class="paragrafo">{{personPhone}}</p>
      </li>
      <li>
        <span class="informacao-item">Email:</span>
        <p class="paragrafo">{{personEmail}}</p>
      </li>
    </ul>
  </div>

  <main>
    <div class="content-header">
      <form action="#">
        <div class="area-post">
          <div class="imagem-area-post">
            <img [src]="profileImageUrl" alt="Foto de perfil" class="imagem-area-post">
          </div>
          <textarea name="text-area" placeholder="Escreva aqui seu post" row="200"></textarea>
        </div>
        <div class="btn-publicar">
          <a href="#">Publicar</a>
        </div>
      </form>
    </div>

    <div class="content-post">
      <section class="section-header">
        <div class="postagem">
          <img [src]="profileImageUrl" alt="Foto de perfil" class="imagem-area-post">
          <div class="nome-data">
            <span class="nome-usuario">{{personName}}</span>
            <span class="data-postagem">21/05/2023 </span>
          </div>
        </div>
      </section>

      <section class="main-section">
        <div class="conteudo-postagem">
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id itaque magnam quibusdam ipsum eveniet labore doloremque ipsam facilis ex fugiat possimus quas consequatur saepe, ratione quae, sunt magni, voluptatibus delectus.</span>
        </div>

        <hr>

        <div class="informacoes-postagem">
          <div class="botoes-postagem">
            <img src="../assets/img/like.svg" alt="like" class="img">
          </div>

          <div class="qtn-postagem">
            <div class="comentario"> 131313 Comentarios</div>
            <div class="curtidas"> 323223 Curtidas</div>
          </div>
        </div>

        <div class="answer">
          <form>
            <textarea class="textarea" name="text-area-answer" placeholder="Escreva seu comentário"></textarea>
            <div class="btn-publicar">
              <a href="#">Comentar</a>
            </div>
          </form>
        </div>
      </section>
    </div>
  </main>
</div>