@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body,
h1,
p,
span,
footer,
h2,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #18191a;
}

::-webkit-scrollbar {
  width: 4px;
  max-height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7a65e9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "sidenav content-header"
    "sidenav content-post";
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: header;
  align-items: center;
  padding: 30px;
  background: #000;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.header li ~ li {
  margin-left: 30px;
}

.header .logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.header nav a {
  display: block;
  text-decoration: none;
  background: #7a65e9;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.2s ease-in;
}

.header nav a:hover {
  background: #5d43df;
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidenav"
      "content-header"
      "content-post";
  }

  .informacao-usuario li {
    flex-direction: row !important;
  }

  .sidenav {
    margin-bottom: 5px !important;
  }
}
