<header class="header">
  <span class="logo">Blog Posts</span>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Postagens Gerais</a></li>
      <li><a href="#" routerLink="/comentarios">Comentarios</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="sidenav">
    <img [src]="profileImageUrl" alt="Foto de perfil" class="imagem-usuario">

    <ul class="informacao-usuario">
      <li>
        <span class="informacao-item">Nome:</span>
        <p class="paragrafo">{{personName}}</p>
      </li>
      <li>
        <span class="informacao-item">Idade:</span>
        <p class="paragrafo">{{personAge}} anos</p>
      </li>
      <li>
        <span class="informacao-item">Telefone:</span>
        <p class="paragrafo">{{personPhone}}</p>
      </li>
      <li>
        <span class="informacao-item">Email:</span>
        <p class="paragrafo">{{personEmail}}</p>
      </li>
    </ul>
  </div>

  <main class="main">
    <div class="content-header">
      <form action="#">
        <div class="area-post">
          <img [src]="profileImageUrl" alt="Foto de perfil" class="imagem-area-post">
          <textarea name="" id="" placeholder="Escreva aqui seu post" row="200"></textarea>
        </div>
        <div class="btn-publicar">
          <a>Publicar</a>
        </div>
      </form>
    </div>

    <div class="content-post" *ngFor="let post of posts">
      <img src="../../assets/img/cruz.png" alt="excluir" width="35" class="excluir">
      <section class="section-header">
        <div class="postagem">
          <img [src]="profileImageUrl" alt="Foto de perfil" class="imagem-area-post">
          <div class="nome-data">
            <span class="nome-usuario textwhite">{{personName}}</span>
            <span class="data-postagem">21/05/2023</span>
          </div>
        </div>
      </section>

      <section class="main-section">
        <div class="conteudo-postagem">
          <span class="textwhite">{{post.pergunta}}</span>
        </div>

        <div class="informacoes-postagem">
          <div class="botoes-postagem">
            <img src="../assets/img/like.svg" alt="like" class="img">
          </div>

          <div class="qtn-postagem">
            <a href="#" class="comentario" routerLink="/comentarios/{{post._id}}">Comentarios</a>
            <div class="comentario textwhite"> 131313 Comentarios</div>
            <div class="curtidas textwhite"> 323223 Curtidas</div>
          </div>
        </div>

        <div class="answer">
          <form>
            <textarea class="textarea textarea-borda" name="text-area-answer" placeholder="Escreva seu comentário"></textarea>
            <div class="btn-publicar">
              <a href="#">Comentar</a>
            </div>
          </form>
        </div>
      </section>
    </div>
  </main>
</div>